<table class="table table-bordered">
  <thead>
    <tr>
      <th>Departing</th>
      <th>From</th>
      <th>To</th>
      <th>Airline</th>
    </tr>
  </thead>
  <tbody>
    {{#each flights as |flight|}}
      <tr>
        <td>{{flight.departureTime}}</td>
        <td>{{flight.departureAirport.name}}</td>
        <td>{{flight.arrivalAirport.name}}</td>
        <td>{{flight.airline.name}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>