<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to "index" class="navbar-brand"}}Flights Client{{/link-to}}
    </div>
  </div>
</nav>